/*Global Styles*/
*{
    margin:0;
}    

Body{

    background-color:#98503F ;
}

img{
    display:block;
    margin: 0 auto;
    width: 100%;
}

a{
    color:#243A2E ;
}
a:hover{
    text-decoration: none ;
}

/*Mobile Styles*/

#container{
    border:6px solid #FDDDD1;
}

nav{
    text-align: center;
}

nav ul{
    padding: 0;
    list-style-type: none;
}
nav li{
    display: block;
}

nav li a{
    display: block;
    background-color: #F2AFA0 ;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 6px solid #C8C6AD;
}

nav li a:hover{
    background-color: #A8B8AE;
}

main{
    padding:10px;
    margin: 10px;
}
main{
    text-align: center;
    color:#F1D194 ;
}
.multi_col{
    display:flex;
    padding: 10px;
}
section,aside{
    border:3px solid #3B5145;
    margin: 20px;
    padding: 20px;
}
section{
    width: 70%;
}
aside{
    width:30%;
}
section img{
    border-radius: 10px;
    border:3px solid #3B5145;
    width:65%; 
}
footer{
    padding:40px 0;
    text-align: center;
    color:#F1D194 ;
}
.img_style{
    border-radius: 10px;
    border:3px solid #3B5145;
    width:65%;
    box-shadow: 4px 4px 5px #243A2E;
    margin-top:20px;
    margin-bottom:20px;
} 
video{
    border-radius: 10px;
    border:3px solid #3B5145;
    width:65%;
    box-shadow: 4px 4px 5px #243A2E;
    margin-top:20px;
    margin-bottom:20px;
}    
iframe{
    display: block;
    margin: 20px auto;
    width:65%;
    height:450px;
}
.favorite_place{
    text-align: center;    
}   
section{
    width:70%;
}
aside{
    width:30%;
}
/* Tablet Styles */

@media (min-width:768px){
    nav{
        padding:10px 0;
    }
    nav li{
        display: inline;
    }
    nav li a{
        display: inline-block ;
        width: 150px;
        height: 40px;
    }
    main{
        margin-top: 10px;
    }
}    
/* Desktop Styles */

@media (min-width:1024px){
#container{
    width: 65%;
    margin: 20px auto;
    background-color: #F2916D;

}
.videos{
    display:flex;
}
.col{
    border:2px solid #243A2E;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    

   
}
.col_img{
    width: 100%;
}
.multi_col{
    display: flex;
}
}

    